*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: lightgray;
    border-radius: 2em;
    margin-top: 3em;
}
.container h1{
    text-align: center;
}
li{
    padding: 1em .5em;
    list-style-type: none;
}